@model IEnumerable<ContractManager.Models.Dyspozycja>

@{
    var teraz = DateTime.Now;
    var cutoff = teraz.AddDays(-30);

    var wyroznione = Model
        .Where(d => d.DataDyspozycji <= cutoff && !d.Checked)
        .OrderBy(d => d.DataDyspozycji)
        .ToList();

    var pozostale = Model
        .Where(d => d.DataDyspozycji > cutoff || d.Checked)
        .OrderByDescending(d => d.DataDyspozycji)
        .ToList();
}

<h2>Wymagają uwagi</h2>
<table class="table">
    <tr>
        <th>Umowa</th>
        <th>Data złożenia</th>
        <th>Akcja</th>
    </tr>
    @foreach (var d in wyroznione)
    {
        <tr>
            <td>@d.NumerUmowy</td>
            <td>@d.DataDyspozycji.ToShortDateString()</td>
            <td>
                <form asp-action="OznaczJakoSprawdzone" method="post">
                    @Html.AntiForgeryToken()
                    <input type="hidden" name="id" value="@d.Id" />
                    <input type="checkbox" onchange="this.form.submit()" />
                </form>
            </td>
        </tr>
    }
</table>

<h2>Pozostałe</h2>
<table class="table">
    <tr>
        <th>Umowa</th>
        <th>Data złożenia</th>
    </tr>
    @foreach (var d in pozostale)
    {
        <tr>
            <td>@d.NumerUmowy</td>
            <td>@d.DataDyspozycji.ToShortDateString()</td>
        </tr>
    }
</table>

